*.obj
*.o
*.lo
*.la
config.*
debian/*.log
debian/*.substvars
debian/*/
libedistruct/unsl
libedistruct/edcd
libedistruct/eded
libedistruct/edmd
libedistruct/edsd
libedistruct/idcd
libedistruct/idmd
libedistruct/idsd
libedistruct/part2
libedistruct/part3
libedistruct/part4
libedistruct/uncl
.libs
.deps
Makefile
Makefile.in
*_ReleaseM[TD]
*_DebugM[TD]
win32/*.user
win32/*.suo
win32/*.ncb
